html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: Courier New;
	color: darkslategrey;
	background-color: mistyrose;
}

h1, h2 {
	text-align: center;
}

.container {
	width:100%;
}

.column {
	width:33.33%;
	float:left;
}

.first {
	text-align: right;
}

.second {
	text-align: center;
}

.third {
	text-align: left;
}

.score {
	text-align: center;
}


